<body>
    <h1>Pagina De Participantes: </h1>
    <br>
   <a href="/home"><button class="btn btn-danger">Voltar</button></a>
    <div class="card">
        <div class="body-card mt-4">
            
            {{>dados}}
        </div>
    </div>
    
    
    
</body>
